/*ABOUT ME SECTION*/
.about-me-big-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.profile-img{
    width: 200px;
    height: auto;
}

.about-me-title-container{
    margin-bottom: 20px;
}

/*SKILLS SECTION*/
.items-container{

}

.skill-wrapper{
    margin: 15px 0;
    padding: 10px;
}

.skill-title-container{

}

.skills-icon-container{
    margin: 10px 5px;
    width: 100%;
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.dev-icon-custom-style{
    font-size: 100px;
}
.tools-container{
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.tool-item{
    flex-basis: 30%;
    margin-top: 2px;
    margin-bottom: 25px;
    margin-left: 10px;
}

/*PORTFOLIO SECTION*/
.projects-big-container{

}

.project-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.img-left{

}

.img-right{

}

.project-image-container{

}

.project-description-container{

}