/*ABOUT ME SECTION*/
.about-me-big-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.other-description-container{
    margin-top: 30px;
}

.profile-img{
    width: 200px;
    height: auto;
}

.about-me-title-container{
    margin-bottom: 20px;
}

.main-description-wrapper{
    display: block;
}

.oval{
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    padding: 10px;
    margin: 10px;
}

#profile-img{
    float: left;
}

#main-description{
    margin-top: 20px;
}

/*SKILLS SECTION*/
.items-container{

}

.skill-wrapper{
    margin: 15px 0;
    padding: 10px;
}

.skill-title-container{

}

.title-small-viewport{
    display: none;
}

.skills-icon-container{
    margin: 10px 5px;
    width: 100%;
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.dev-icon-custom-style{
    font-size: 100px;
}

#redux-icon{
    width: 100px;
    height: 100px;
}

.tools-container{
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.tool-item{
    text-align: center;
    flex-basis: 30%;
    margin-top: 2px;
    margin-bottom: 30px;
    margin-left: 10px;
}

/*PORTFOLIO SECTION*/
#portfolio-section{
    text-align: center;
}

.projects-big-container{

}

.project-wrapper{
    opacity: 0.6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 45px 10px;
    padding: 5px;
    transition: 0.5s;
}

.project-wrapper:hover{
    opacity: 1;
}

.project-image-container{
    flex-grow: 1;
    margin: 0 10px;
}

.project-description-container{
    flex-grow: 1;
    margin: 0 10px;
}

.project-title{
    font-weight: 700;
}

.links-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.git-hub-link-icon{
    font-size: 30px;
}

.box-arrow-up-right-icon{
    margin-left: 5px;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 240px) and (max-width: 375px) {
    /*ABOUT ME SECTION*/
    .other-description-container{
        display: none;
    }

    #main-description{
        margin-top: 0;
    }

    /*SKILLS SECTION*/
    .dev-icon-custom-style{
        font-size: 35px;
    }

    #redux-icon{
        width: 35px;
        height: 35px;
    }

    /*PORTFOLIO SECTION*/
    .project-wrapper{
        flex-direction: column;
        justify-content: flex-start;
    }

    #weather-app-description{
        order: 2;
    }

    .title-small-viewport{
        display: block;
    }

    .project-title{
        display: none;
    }

    .brief-intro{
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 568px) {
    /*ABOUT ME SECTION*/
    .other-description-container{
        display: none;
    }

    #main-description{
        margin-top: 0;
    }

    /*SKILLS SECTION*/
    .dev-icon-custom-style{
        font-size: 45px;
    }

    #redux-icon{
        width: 45px;
        height: 45px;
    }

    /*PORTFOLIO SECTION*/
    .project-wrapper{
        flex-direction: column;
        justify-content: flex-start;
    }

    #weather-app-description{
        order: 2;
    }

    .title-small-viewport{
        display: block;
    }

    .project-title{
        display: none;
    }

    .brief-intro{
        display: none;
    }
}

@media screen and (min-width: 568px) and (max-width: 768px) {
    /*ABOUT ME SECTION*/
    .other-description-container{
        display: none;
    }

    #main-description{
        margin-top: 0;
    }

    /*SKILLS SECTION*/
    .dev-icon-custom-style{
        font-size: 55px;
    }

    #redux-icon{
        width: 55px;
        height: 55px;
    }

    /*PORTFOLIO SECTION*/
    .project-wrapper{
        flex-direction: column;
        justify-content: flex-start;
    }

    #weather-app-description{
        order: 2;
    }

    .title-small-viewport{
        display: block;
    }

    .project-title{
        display: none;
    }

    .brief-intro{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /*SKILLS SECTION*/
    .dev-icon-custom-style{
        font-size: 65px;
    }

    #redux-icon{
        width: 65px;
        height: 65px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    /*ABOUT ME SECTION*/
    #main-description{
        margin-top: 40px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

}